@use "./variables" as *;
@use "./mixins.scss" as *;

.registerButton, .loginButton, .submitButton, 
.updateButton, .saveButton {
    border: none;
    border-radius: 15px;
    height: 40px;
    background-color: $primary-button-color;
    color: $secondary-text-color;
    cursor: pointer;

    &:hover {
        background-color: $primary-button-hover-color;
    }
}

.updateButton.margin, .submitButton.margin, 
.loginButton.margin, .registerButton.margin, 
.saveButton.margin {
    margin-top: 8px;
}


.logoutButton {
    padding: 1.5rem;
    font-weight: $button-font-weight;
    background-color: transparent;
    color: $primary-text-color;
    border: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        
    }
}

.addButton, .actionButton, .addGoalButton, .editButton, .closeButton  {
    font-size: 0.9rem;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    background-color: white;
    color: $primary-text-color;
    border: solid 2px $border-color;
    font-weight: $button-font-weight;
    cursor: pointer;
    
    &:hover {
        opacity: 0.8;
        border: solid 3px $border-color; 
        }
}


.actionButton.delete, .closeButton {
    background-color: #D32F2F;
    color: white;
    border: solid 2px #B71C1C;
}


.addImageButton, .actionsMenuButton {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
    border: solid 2px $border-color;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
}

.actionsMenuButton {
    top: 0;
}

.removeTipsButton {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #D32F2F;
    color: white;
    cursor: pointer;
    right: 5px;
    top: 5px;


    @include desktop() {
        top: -10px;
        right: -10px;

    }
}



