@use "./mixins" as *;
@use "./variables" as *;

.goalCard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;

    .progressSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        
        @include desktop() {
            flex-direction: row;
            align-items: center;
        }

    }

    .titleWrapper {
        position: relative;
        .goalTitle {
            width: 60%;
            margin-bottom: 0.5rem;
        }

        .createdAtTag {
            position: static;
            font-size: 14px;
            font-weight: 500;
            width: 60%;
            color: $tertiary-text-color;
        }
    }

    .updateSection {
        display: flex;      
        gap: 1rem;
    }

    .dueDateInfoSection {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .dueDateTag {
            font-size: 14px;
            font-weight: 500;
        }
    }
    .noDateTag {
        font-size: 14px;
        font-weight: 500; 
    }
}



.profileCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;

    @include desktop() {
        width: 50%;
        flex-direction: row;
        gap: 1.5rem;
    }  
    
    
    .profileInfoSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .userNameTag {
            border-bottom: solid 1px rgb(142, 142, 142);
            margin-bottom: 0.5rem;

            @include desktop() {
                min-width: 100px;
            }  
            
        }

        .badgesTag {
            font-family: $heading-font-family;
            font-size: $tertiary-heading-font-size;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
        
        .badgesIconContainer {
           display: flex;
           align-items: flex-end;

           .badgesCountIcon { 
               height: 50px;
               width: 50px;
           }
        }
    }
}

.userImageContainer {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgb(220, 220, 220);

    .avatarPreview {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.avatarSelection {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
    border-radius: 15px;
    box-shadow: $shadow;
    transition: transform 0.2s ease-in-out;

    .avatar {
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.latestCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;
    
    @include desktop() {
        flex-direction: row;
        gap: 1.5rem;
    }

    .latestGoalHeading {
        margin-bottom: 10px;
    }
}

.badgeCard {
    display: flex;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;
    background-color: $light-body-background;

    @include desktop() {
        justify-content: space-between;
   }
}

.newMilestoneCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: $light-body-background;

    .congratulationsHeading {
        width: 60%;

        @include desktop() {
            width: 50%;
       }
    }


    @include desktop() {
        width: 400px;
   }


    .milestoneSection {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}