@use "./mixins" as *;
@use "./variables" as *;

.goalCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;
    transition: height 0.3s ease;


    .progressSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        
        @include desktop() {
            flex-direction: row;
            gap: 2rem;
        }

    }
    .actionSection {
        display: flex;      
        gap: 1rem;
    }

    .progressInfoSection {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}