@use "./mixins" as *;
@use "./variables" as *;

.goalCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;

    .progressSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        
        @include desktop() {
            flex-direction: row;
            gap: 2rem;
        }

    }
    .actionSection {
        display: flex;      
        gap: 1rem;
    }

    .progressInfoSection {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}


.profileCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;

    @include desktop() {
        width: 50%;
        flex-direction: row;
        gap: 1.5rem;
    }  
    
    
    .profileInfoSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .userNameTag {
            border-bottom: solid rgb(142, 142, 142);
            margin-bottom: 0.5rem;

            @include desktop() {
                min-width: 100px;
            }  
            
        }

        .badgesTag {
            font-family: $heading-font-family;
            font-size: $tertiary-heading-font-size;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }
        
        .badgesIconContainer {
           display: flex;
           align-items: flex-end;

           .badgesCountIcon { 
               height: 50px;
               width: 50px;
           }
       }

    }
}




.userImageContainer {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgb(220, 220, 220);

    .avatarPreview {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.avatarSelection {
    display: flex;
    gap: 1rem;
    width: 300px;
    height: 200px;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: $shadow;
    transition: transform 0.2s ease-in-out;

    .avatar {
        border-radius: 50%;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }

}



.latestGoalCard {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 15px;

    @include desktop() {
        width: 320px;
    }
}