@use "./mixins" as *;
@use "./variables" as *;

.statSummarySection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 1.5rem;
}

.chartSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 1.5rem;

    @include desktop() {
        flex-direction: row;
    }

    .doughnutChartContainer {
        width: 200px;
        height: 200px;


        @include desktop() {
            width: 300px;
            height: 300px;
        }    
    }

    .lineChartContainer {
        width: 100%;


        @include desktop() {
            width: 600px;
       }
    }
}

