@use "./mixins" as *;
@use "./variables" as *;

.statSummarySection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    box-shadow: $shadow;
    border: solid 0.5px $card-border-color;
    padding: 1.5rem;
}

.chartSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 15px;
    box-shadow: $shadow;
    border: solid 0.5px $card-border-color;
    padding: 1.5rem;

    @include desktop() {
        gap: 1rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .doughnutChartContainer {
        height: 250px;
        width: 250px;

        @include desktop() {
            height: 350px;
            width: 350px;
        }    
    }

    .lineChartContainer {
        width: 100%;
        height: 250px;

        @include desktop() {
            height: 400px;
            width: 50%;
       }
    }
}

