@use "./mixins" as *;


.content.dashboard {

    @include desktop() {
        flex-direction:row;
        gap: 200px;
    }
    .goalSetupSection {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    
      .greetingContainer {
        display:flex;
        align-items: center;
        gap: 0.5rem;
      }
    
    
    .userImageContainer.small {
      width: 50px;
      height: 50px;
    }
    }

    .overviewSection {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
}
