@use "./mixins" as *;


.content.dashboard {

    .dashboardBody {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        @include desktop() {
            flex-direction: row;
            align-items: flex-start;
            gap: 2.5rem;
        }
    }

    .goalSetupSection {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      @include desktop() {
        flex: 0 0 300px;
      }

      .greetingContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .overviewSection {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include desktop() {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
}
