@use "./mixins" as *;


.content.dashboard {

    @include desktop() {
        flex-direction:row;
        gap: 90px;
    }
    .goalSetupSection {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    
      .greetingContainer {
        display:flex;
        align-items: center;
        gap: 0.5rem;
      }
  
    }

    .overviewSection {
      display: flex;
      flex-direction: column;
      gap: 2rem;

        @include desktop() {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
    }
    }
}
