@use "./mixins" as *;
@use "./variables" as *;

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include desktop() {
        width: 400px;
    }

    input, select {
        height: 40px;
        padding: 10px;
        border: solid 2px $border-color;
        border-radius: 15px;
    }

    select {
        padding: 5px;
        height: 40px;
    }
}


.addGoalForm {
    border-radius: 15px;
    padding: 2rem;
    box-shadow: $shadow;


    .topSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

