@use "./mixins" as *;


.hamburgerSection {
    background-color: #7DA6D7;
    width: 100%;
    padding: 1rem;
    border-bottom: solid 1px white;

    @include desktop() {
        display: none;
    }
}


.hamburgerMenu {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include desktop() {
      display: none;
    }
  }

  .burgerBar {
    width: 2.5em;
    height: 0.3em;
    background-color: white;
    border-radius: 0.5em;
  }

  .navBar {
    position: absolute;
    top: 63px;
    bottom: 0;
    left: -100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    background-color: #7DA6D7;
    transition: ease-in-out 0.5s;


    @include desktop() {
        position: fixed;
        height: auto;
        width: 15%;
        top: 100px;
        left: 0; 
        opacity: 1;
        transition: none; 
      }
  }

  .visible {
    left: 0;
    opacity: 1;
  }

  .hidden {
    @include desktop() {
        left: 0;
        opacity:1;
       }
  }