@use "./mixins" as *;
@use "./variables" as *;


.hamburgerSection {
  position: fixed;
  top: 100px;
  z-index: 100;
  background-color: #7DA6D7;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 1px white;

    @include desktop() {
        display: none;
    }
}


.hamburgerMenu {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include desktop() {
      display: none;
    }
  }

  .burgerBar {
    width: 40px;
    height: 5px;
    background-color: $secondary-text-color;
    border-radius: 0.5em;
    transition: transform 0.3s ease, opacity 0.3s ease;


    &.clicked {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 12px);
      }
  
      &:nth-child(2) {
        opacity: 0; 
      }
  
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -12px);
      }
    }
  
    &.unclicked {
      transform: none;
      opacity: 1;
    }
  }

