@use "./mixins" as *;
@use "./variables" as *;


.hamburgerSection {
  position: fixed;
  top: 100px;
  z-index: 100;
  background-color: #7DA6D7;
  width: 100%;
  padding: 1rem;
  border-bottom: solid 1px white;

    @include desktop() {
        display: none;
    }
}


.hamburgerMenu {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    @include desktop() {
      display: none;
    }
  }

  .burgerBar {
    width: 2.5em;
    height: 0.3em;
    background-color: $secondary-text-color;
    border-radius: 0.5em;
  }

