@use "./mixins.scss" as *;

.bi-trash3, .bi-palette, .bi-plus-circle, 
.bi-box-arrow-left, .bi-clock, .bi-calendar-date, 
.bi-coin, .bi-pencil, 
.bi-house-door-fill, .bi-piggy-bank-fill, 
.bi-trophy-fill, .bi-bar-chart-line-fill, 
.bi-person-circle, .bi-gear-fill, .bi-download {
    margin-right: 8px;
  }

  .bi-arrow-left-short {
    margin-right: 2px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .moneyIcon {
    height: 70px;
    width: 70px;

    @include desktop() {
      height: 100px;
      width: 100px;
      
    }
  }
  
  .bi-pencil.addImageIcon {
    margin: 0;
  }

  .bi-github, .bi-linkedin {
    font-size: 25px;
  }

//Sidebar toggle icon

.bi-caret-right-fill {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .bi-caret-right-fill.rotate {
   transform: rotate(180deg);
  }
  