@use "./mixins.scss" as *;
@use "./variables.scss" as *;

.bi-trash3, .bi-palette, .bi-plus-circle, 
.bi-box-arrow-left, .bi-clock, .bi-calendar-date, 
.bi-coin, .bi-pencil, 
.bi-house-door-fill, .bi-piggy-bank-fill, 
.bi-trophy-fill, .bi-bar-chart-line-fill, 
.bi-person-circle, .bi-gear-fill, .bi-download, .bi-check-circle-fill {
    margin-right: 8px;
  }

  .bi-arrow-left-short {
    margin-right: 2px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .moneyIcon {
    height: 70px;
    width: 70px;

    @include desktop() {
      height: 100px;
      width: 100px;
      
    }
  }
  
  .bi-pencil.addImageIcon {
    margin: 0;
  }

  .bi-github, .bi-linkedin {
    font-size: 25px;
  }

//Sidebar toggle icon and language toggle icon

.bi-caret-right-fill {
  font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .bi-caret-down-fill {
    transition: transform 0.3s ease;
  }
  
  .rotate {
   transform: rotate(180deg);
  }

  //Icon for Locked Milestone cards

  .bi-lock-fill {
    font-size: 28px;
  }

// for tips slider
  .bi-info-circle {
    font-size: 25px;
    color: $attention-border-color;
  }
  