@use "./mixins.scss" as *;

.bi-trash3, .bi-palette, .bi-plus-circle, 
.bi-box-arrow-left, .bi-clock, .bi-calendar-date, 
.bi-coin, .bi-pencil, 
.bi-house-door-fill, .bi-piggy-bank-fill, 
.bi-trophy-fill, .bi-bar-chart-line-fill, 
.bi-person-circle, .bi-gear-fill {
    margin-right: 8px;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .moneyIcon {
    height: 70px;
    width: 70px;

    @include desktop() {
      height: 100px;
      width: 100px;
      
    }
  }
  
  .bi-pencil.addImageIcon {
    margin: 0;
  }
  