@use "./variables" as *;
@use "./mixins" as *;

.tipsBox {
  padding: 1.5rem;
  border-radius: 15px;
  border: solid 0.5px var(--attention-border-color);
  border-top: solid 5px var(--attention-border-color);
  box-shadow: var(--shadow);
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: var(--tips-card-background);
  line-height: 1.5;
  color: var(--primary-text-color);


    @include desktop() {
        width: 400px;
        right: 2rem;
        bottom: 2rem;
    }

    .tipContent {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
}

  .successMessage {
    color: green;
    font-size: 14px;
  }


  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 6px;
  }