@use "./variables" as *;
@use "./mixins" as *;

.tipsBox {
  padding: 1.25rem 1.5rem;
  border-radius: 12px;
  border: solid 1px var(--card-border-color);
  border-left: solid 4px var(--attention-border-color);
  box-shadow: var(--shadow);
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: var(--tips-card-background);
  line-height: 1.6;
  color: var(--primary-text-color);

  @include desktop() {
    width: 100%;
  }

  .tipContent {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.successMessage {
  color: var(--success-color);
  font-size: 13px;
  font-weight: 500;
}

.errorMessage {
  color: var(--error-color);
  font-size: 13px;
  font-weight: 500;
  margin-top: 6px;
}