@use "./variables" as *;
@use "./mixins" as *;

.tipsBox {
  padding: 1.5rem;
  border-radius: 15px;
  border: solid 0.5px $attention-border-color;
  border-top: solid 5px $attention-border-color;
  box-shadow: $shadow;
  opacity: 1;
  transition: opacity 0.5s ease;
  background-color: rgb(255, 255, 255);
  line-height: 1.5;

    @include desktop() {
        width: 400px;
        right: 2rem;
        bottom: 2rem;
    }

    .tipContent {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
}

  .successMessage {
    color: green;
    font-size: 14px;
  }


  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 6px;
  }