@use "./mixins" as *;
@use "./variables" as *;

.navBar {
  position: fixed;
  top: 80px;
  border-radius: 15px;
  bottom: 0;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 500px;
  background: $surface-elevated;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  border: solid 1px white;
  border-top: none;
  box-shadow: $floatingShadow;

  @include desktop() {
    position: fixed;
    height: auto;
    width: 15%;
    border-radius: 8px;
    top: 80px;
    left: 0;
    opacity: 1;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .sidebarToggleContainer {
     display: none;

     @include desktop() {
         display: block;
         position: absolute;
         top: 0px;
         right: -28px;
         width: 70px;
         border-radius: 30px;
         display: flex;
         justify-content: flex-end;
         background: #bde1bd;
     }
     .sidebarToggle {
      
      @include desktop() {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        padding: 0.25rem;
        border-radius: 50%;
        border: solid 0.3rem #bde1bd;
;
        background-color: #8ac17a;
        color: $primary-text-color;
        cursor: pointer;
    }
  }
}

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;

    @include desktop() {
      margin-top: 40px;
    }

    li {
      width: 100%;
          border-radius: 15px;
    }

    li:hover {
      background-color: #8ac17a;
    }

    .navLink {
      display: block;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      font-weight: $link-font-weight;
      color: #101C2C;
      text-decoration: none;
    }
  }
}

.visible {
  right: 0;
  opacity: 1;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;

   @include desktop() {
    left: 0; 
    opacity: 1;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
}

.hidden {
  right: -100%;
  opacity: 0;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;

  @include desktop() {
    left: -15%; 
    opacity: 1;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;

  }
}
