@use "./variables" as *;

.settingsSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
 

    .settingsWrapper {
        display: flex; 
        flex-direction: column;
        gap: 2rem;
        padding-top: 5px;
        border-top: solid 1px $tertiary-border-color;
    }

}