.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 9999;

    .spinner {
        width: 100px;
        height: 100px;
        border: 10px solid rgb(57, 126, 255);
        border-radius: 50%;
        border-top: 10px solid rgb(255, 255, 255);
        animation: rotate 1s infinite;
      }
  }
 
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(360deg);
    }
  }
