@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");


//BREAKPOINTS:

$tablet: 768px;
$large-desktop: 1200px;


//TYPOGRAPHY:


$heading-font-family: "Roboto Condensed", sans-serif;
$base-font-family: "Noto Sans", sans-serif;


$base-font-size: 16px;
$heading-font-size: 30px;
$secondary-heading-font-size: 24px;
$tertiary-heading-font-size: 20px;
$button-font-size: 14px;

$base-font-weight: normal;
$button-font-weight: 600;
$heading-font-weight: 700;
$secondary-heading-font-weight: 600;
$link-font-weight: 700;

//COLORS:

//Text color
$primary-text-color: black;
$secondary-text-color: white;
$tertiary-text-color: #454545;

//Button colors
$primary-button-color: #1821CB;
$secondary-button-color: white;
$tertiary-button-color: #D32F2F;

$primary-button-hover-color: #050da5;

//Background colors
$light-body-background: #E4F1FF;

//Link colors
$link-color: #1f02ad;

//Borders
$primary-border-color: #79aeff;
$secondary-border-color: #B71C1C;
$tertiary-border-color: #8e8e8e;

//Effects
$shadow: 0px 4px 20px rgba(0, 0, 0, 0.1), 0px 0px 30px rgba(0, 0, 0, 0.05);
