@use "./variables" as *;
@use "./mixins.scss" as *;

.registerButton, .loginButton, .submitButton {
    border: none;
    border-radius: 15px;
    height: 40px;
    background-color: $primary-button-color;
    color: $secondary-text-color;
    cursor: pointer;

    &:hover {
        background-color: $primary-button-hover-color;
    }
}


.logoutButton {
    width: 100%;
    border-radius: 15px;
    height: 40px;
    background-color: white;
    color: $primary-text-color;
    border: solid 2px $border-color;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        border: solid 3px $border-color; 
    }
}


.addButton {
        border-radius: 15px;
        height: 50px;
        width: 200px;
        background-color: white;
        color: $primary-text-color;
        border: solid 4px $border-color;
        cursor: pointer;

        @include desktop() {
            height: 100%;
        }

        &:hover {
            opacity: 0.8;
            border: solid 5px $border-color; 
        }
}


