@use "./variables" as *;
@use "./mixins" as *;

.circularProgressBarContainer {
    width: 80px;
    height: 80px;

    @include desktop() {
        width: 100px;
        height: 100px;
    }
 }

 .CircularProgressbar {
    width: 100%;
    vertical-align: middle;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: #10b981;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: #e2e8f0;
    stroke-linecap: round;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: #10b981;
    font-size: 20px;
    font-weight: 500;
    dominant-baseline: middle;
    text-anchor: middle;
  }

  .CircularProgressbar .CircularProgressbar-background {
    fill: #e2e8f0;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #10b981;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }

  .dark {
    .CircularProgressbar .CircularProgressbar-path {
      stroke: #34d399;
    }

    .CircularProgressbar .CircularProgressbar-trail {
      stroke: #334155;
    }

    .CircularProgressbar .CircularProgressbar-text {
      fill: #34d399;
    }

    .CircularProgressbar .CircularProgressbar-background {
      fill: #334155;
    }
  }
