@use "./mixins" as *;
@use "./variables" as *;

.sidebar {  
    border: solid black;
    padding: 1rem;

    @include desktop() {
        width: 20%;
    }

    ul {
       display: flex;
       flex-direction: column;
       gap: 2rem;
       list-style: none;
    }
}