@use "./mixins" as *;
@use "./variables" as *;

.sidebar {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #7DA6D7;

    @include desktop() {
        width: 20%;
    }

    ul {
       display: flex;
       flex-direction: column;
       gap: 2rem;
       list-style: none;

       @include desktop() {
        gap: 3rem;
    }

       .navLink {
        font-weight: $link-font-weight;
        color: #2A3D56;
        text-decoration: none;
       }
    }
}